{
    "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "prettier", "prettier/react", "prettier/@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": ["prettier"],
    "rules": {
        "no-plusplus": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/interface-name-prefix": 0,
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0,
        "import/extensions": ["error", "never"],
        "react/self-closing-comp": 0,
        "react/require-default-props": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }]
    },
    "globals": {
        "window": true,
        "document": true
    }
}
